[Unit]
Description=User KRunner provider for baloo file indexer

[Service]
ExecStart=/usr/lib/baloorunner
Type=dbus
BusName=org.kde.runners.baloo
TimeoutSec=5sec
Slice=background.slice
# as we're dbus activated anyway
Restart=no

[Install]
WantedBy=default.target
