[Unit]
Description=User Powerdevil

[Service]
Type=oneshot
ExecStart=systemctl --user start plasma-powerdevil.service

[Install]
WantedBy=default.target
