* {
    all: unset;
}

.bar {
    font-family: 'Iosevka Nerd Font Medium', monospace;
    font-size: 15px;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

.rightside {
    > * {
        margin: 4px;
        padding: 0 8px;
        color: #313244;
    }

    > *:nth-child(1) {
        background-color: #f5e0dc;
    }
    > *:nth-child(2) {
        background-color: #cba6f7;
    }
    > *:nth-child(3) {
        background-color: #fab387;
    }
    > *:nth-child(4) {
        background-color: #94e2d5;
    }
    > *:nth-child(5) {
        background-color: #89b4fa;
    }
}

// Tags widget
.tags {
    margin: 4px;
    background-color: #313244;
}

.tags button {
    padding: 0 8px;
}

.tag-mine {
    background-color: #f38ba8;
    color: #1e1e2e;
}

.tag-urgent {
    color: #f38ba8;
}

.tag-busy {
    color: #cdd6f4;
}

.tag-normal {
    color: #6c7086;
}
