@import "mocha.css";

/*
 * Base styles
 */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

tooltip {
    font-family: "Iosevka SS17", "Iosevka Nerd Font Mono", monospace;
}

/* The whole bar */
#waybar {
    background: @base;
    color: @text;
    font-family: "Iosevka SS17", "Iosevka Nerd Font Mono", monospace;
    font-size: 24px;
}

/* Each module */
#custom-keyboard-layout,
#network,
#backlight,
#battery,
#pulseaudio,
#memory,
#temperature,
#clock,
#tray {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    color: @subtext1;
    background: @surface0;
}


/*
 * Module styles
 */

#clock {
    margin-right: 4px;
}

#memory {
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
}

#network {
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
    background: @red;
    color: @base;
}

#tray {
    background-color: @base;
}

#window {
}

#workspaces {
    background: @surface1;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 16px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}

#workspaces button.active {
    color: @base;
    background-color: @peach;
}

#workspaces button.urgent {
    color: @base;
    background-color: @red;
}
