@import "mocha.css";

/*
 * Base styles
 */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @base;
    color: @text;
    font-family: "Iosevka SS17", "Iosevka Nerd Font Mono", monospace;
    font-weight: 500;
    font-size: 20px;
}

/* Each module */
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    color: @subtext1;
    background: @surface0;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    margin-right: 6px;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    background: @red;
    color: @text;
}

#tray {
    background-color: @base;
}

#window {

}

#workspaces {
    background: @surface0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 20px;
}

#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    padding-left: 10px;
    padding-right: 10px;
    color: @overlay0;
}

#workspaces button.active {
    color: @base;
    background-color: @peach;
}

#workspaces button.urgent {
    color: @base;
    background-color: @red;
}
