@define-color base #2e3440;
@define-color text #d8dee9;
@define-color subtext1 #d8dee9;
@define-color surface0 #3b4252;
@define-color surface1 #434c5e;
@define-color red #bf616a;
@define-color primary #88c0d0;

/*
 * Base styles
 */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

tooltip {
    font-family: "Iosevka SS09", "Iosevka Nerd Font Mono", monospace;
}

/* The whole bar */
#waybar {
    background: @base;
    color: @text;
    font-family: "Iosevka SS09", "Iosevka Nerd Font Mono", monospace;
    font-size: 28px;
}

/* Each module */
#custom-keyboard-layout,
#network,
#backlight,
#battery,
#pulseaudio,
#memory,
#temperature,
#clock,
#tray {
    margin: 8px 0.5em;
    color: @subtext1;
    background: @surface0;
}

/*
 * Module styles
 */

#clock {
    margin-right: 0.5em;
}

#memory {
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
}

#network {
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
    background: @red;
    color: @base;
}

#tray {
    background-color: @base;
    margin-right: 1em;
}

#window {
}

#workspaces {
    background: @surface1;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 1em;
}

#workspaces button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: @text;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: unset;
}

#workspaces button.active {
    color: @base;
    background-color: @primary;
}

#workspaces button.urgent {
    color: @base;
    background-color: @red;
}
