// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    backend: "x11rb",
    modkey: "Mod4",
    mousekey: "Mod4",
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: true,
    layout_mode: Tag,
    tags: [ "1", "2", "3", "4", "5", "6", "7", "8", "9" ],
    layouts: [ Dwindle, Monocle ],
    insert_behavior: Bottom,
    workspaces: [],
    auto_derive_workspaces: true,
    window_rules: [],
    scratchpad: [
        // (name: "Ghostty", value: "ghostty", x: 860, y: 390, height: 600, width: 300),
    ],
    disable_window_snap: true,
    single_window_border: true,
    keybind: [
        // WM independent hotkeys
        (command: Execute, value: "ghostty",          modifier: ["modkey"], key: "Return"),
        (command: Execute, value: "rofi -show combi", modifier: ["modkey"], key: "space"),
        // Audio volume and mute
        (command: Execute, value: "wpctl set-volume @DEFAULT_SINK@ 5%+ --limit 1.0", modifier: [], key: "XF86XK_AudioRaiseVolume"),
        (command: Execute, value: "wpctl set-volume @DEFAULT_SINK@ 5%- --limit 1.0", modifier: [], key: "XF86XK_AudioLowerVolume"),
        (command: Execute, value: "wpctl set-mute   @DEFAULT_SINK@ toggle",          modifier: [], key: "XF86XK_AudioMute"),
        // Utility hotkeys (launcher, screenshot, etc)
        (command: Execute, value: "flameshot gui",           modifier: ["modkey", "Shift"], key: "s"),
        (command: Execute, value: "~/scripts/ptt-toggle.sh", modifier: [],                  key: "button9"),
        // WM hotkeys
        (command: Execute,        value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["modkey", "Alt"], key: "q"),
        (command: SoftReload,     value: "", modifier: ["modkey", "Alt"], key: "r"),
        (command: CloseWindow,    value: "", modifier: ["modkey"],        key: "w"),
        (command: CloseWindow,    value: "", modifier: ["modkey"],        key: "q"),
        (command: ToggleFloating, value: "", modifier: ["modkey"],        key: "v"),
        // Toggle pseudo-fullscreen (monocle) or fullscreen
        (command: NextLayout,       value: "", modifier: ["modkey"],          key: "m"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey", "Shift"], key: "m"),
        // Focus/move the window in the given direction
        (command: FocusWindowUp,   value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: MoveWindowUp,    value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown,  value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowTop,   value: "", modifier: ["modkey", "Shift"], key: "Return"),
        // Resize main window
        (command: IncreaseMainWidth, value: "1", modifier: ["modkey", "Alt"], key: "k"),
        (command: DecreaseMainWidth, value: "1", modifier: ["modkey", "Alt"], key: "j"),
        // Focus the next/previous desktop in the current monitor
        (command: FocusNextTag,     value: "", modifier: ["modkey"], key: "bracketright"),
        (command: FocusPreviousTag, value: "", modifier: ["modkey"], key: "bracketleft"),
        // Focus or send to the given desktop
        (command: GotoTag,   value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag,   value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag,   value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag,   value: "4", modifier: ["modkey"], key: "4"),
        (command: GotoTag,   value: "5", modifier: ["modkey"], key: "5"),
        (command: GotoTag,   value: "6", modifier: ["modkey"], key: "6"),
        (command: GotoTag,   value: "7", modifier: ["modkey"], key: "7"),
        (command: GotoTag,   value: "8", modifier: ["modkey"], key: "8"),
        (command: GotoTag,   value: "9", modifier: ["modkey"], key: "9"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
        (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
        (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
        (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
        (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
    ]
)
